body {
  background-color: navy;
  min-height: 100vh;

}
p{
  color: beige;
}
h1{
  size: 30px;
  color: lightpink;
}

.spinning-paragraph {
  display: inline-block;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
